module.exports = {
    twitter : {
        consumerKey: '',
        consumerSecret: '',
        callbackURL: 'http://localhost:3000/auth/twitter/callback'    
    },
    facebook : {
        clientID: '',
        clientSecret: '',
        callbackURL: 'http://localhost:3000/auth/facebook/callback',
        profileFields: ['id', 'displayName', 'name', 'gender', 'photos']
    },
    google : {
        clientID: '',
        clientSecret: '',
        callbackURL: 'http://localhost:3000/auth/google/callback'
    }
}